.aside {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  color: $white;
  width: 300px;
  &__item {
    background-color: $yellow-transparent;
    padding: 18px 25px;
    width: 100%;
  }

  &__title {
    @include text(14px, 14px);
    color: $white;
  }

  &__text {
    margin: 0;
  }   
}
@media only all and (max-width: 575px) {
  .aside {
    padding: 0;
    position: absolute;
    width: 25%;
    top: 43%;
    right: 0;
    font-size: 75%;
    &__item {
      padding: 1.25vw 1.7vw;
      margin-bottom: 1px;
    }

    &__title {
      @include text(6.5px, 7px);
      margin-bottom: 0;
      
    }
    &__text {
        @include text(5.5px, 6px);
    }
  }
}