.circle {
  width: 165px;
  height: 165px;
  background-image: url("../img/partner1.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  &--2 {
    background-image:  url("../img/partner2.jpg");
  }
  &--3 {
    background-image: url("../img/partner3.jpg");
  }
}

@media only all and (max-width: 575px) {
  .circle {
    width: 140px;
    height: 140px;
  }
}