.news {
  margin: 0;
  padding: 0;
  width: 312px;
  flex: none;
  img {
    border-radius: unset;
    height: 312px;
    object-fit: cover
  }
}

@media only all and (max-width: 575px) {
  .news {
    width: 40.1vw;
    img {
      height: 40.1vw;
    }
  }
}