.reason {
  padding: 0;
  width: 26vw;
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  &--shipper {
    width: 19vw;
  }

  &__img {
    height: 80px;
    object-fit: contain;

    &--img2 {
      width: 70%;
    }

    &--shipper {
      width: 70%;
      height: 13.3vw;
    }
  }

  &__text {
    @include text(7px, 9px);
    margin: 12px 0 0 0;
  }
}

@media only all and (min-width: 960px) {
  .reason {
    width: 300px;
    &__text {
      @include text(18px,27px);
      letter-spacing: 1px;
      margin-top: 0;
    }

    &__img {
      height: 270px;
    }
  }
}