.sec1 {
  padding-top: 30px;
  &__text {
    padding-bottom: 10px;
  }

  &__object {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
  }

  &__product {
    justify-content: space-between;
    margin: 0;
  }
}
@media only all and (max-width: 575px) {
  .sec1 {
    padding-top: 0;
    //margin-top: 4%;
    &__text {
      padding: 4% 0 0;
    }
    &__object {
      display: flex;
      justify-content: space-between;
      margin-top: 3vh;
      margin-bottom: 3px;
    }
  }
}